immobinet.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:d="http://doctrine-project.org/schemas/orm/doctrine-mapping" xmlns:php="http://php.net/xsl" xmlns="http://www.goetas.com/immobinet" targetNamespace="http://www.goetas.com/immobinet" elementFormDefault="qualified" xmlns:ns0="http://www.goetas.com/immobinet">
  <xsd:complexType name="Agente">
    <xsd:sequence>
      <xsd:element name="cciaa" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="ruolo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="anagraficheAgenteAssegnato" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="immobili" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="anagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="anagrafica" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Agenzia">
    <xsd:sequence>
      <xsd:element name="ragioneSociale" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="indirizzo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="numero" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="piva" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="ruolo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="cciaa" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="telefono" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="fax" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="email" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="web" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="citta" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="ruoloAnagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfRuoloAnagrafica"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Allegato">
    <xsd:sequence>
      <xsd:element name="path" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="mime" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="dataInserimento" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="note" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="immobilie" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="tipo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-many-->
      <xsd:element name="visibilite" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="AllegatoTipoDef">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="allegati" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="AllegatoVisibilitaDef">
    <xsd:sequence>
      <xsd:element name="predefinito" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--many-to-many-->
      <xsd:element name="allegati" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Anagrafica">
    <xsd:sequence>
      <xsd:element name="tipo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="dataCreazione" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="dataAggiornamento" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="note" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="nome" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="telefono" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="fax" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="indirizzo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="numero" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="email" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="cap" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="utenteCensitore" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="agenteAssegnato" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="citta" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="agente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="azienda" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="persona" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="utente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="socioAziende" minOccurs="0" maxOccurs="1" type="ArrayOfSocioAzienda"/>
      <!--one-to-many-->
      <xsd:element name="ruoloAnagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfRuoloAnagrafica"/>
      <!--one-to-many-->
      <xsd:element name="configAnagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Azienda">
    <xsd:sequence>
      <xsd:element name="ragioneSociale" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="cf" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="indirizzo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="numero" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="email" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="telefono" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="fax" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="cell" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="piva" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="cap" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="citta" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="socioAziende" minOccurs="0" maxOccurs="1" type="ArrayOfSocioAzienda"/>
      <!--one-to-many-->
      <xsd:element name="anagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="anagrafica" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Categoria">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="ordine" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <!--many-to-one-->
      <xsd:element name="padre" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="bundli" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--one-to-many-->
      <xsd:element name="categorie" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--one-to-many-->
      <xsd:element name="immobili" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="CategoriaBundle">
    <xsd:attribute name="categoria" use="required" type="xsd:string"/>
    <xsd:attribute name="bundle" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Citta">
    <xsd:sequence>
      <xsd:element name="nome" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="cap" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="latitudine" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="longitudine" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="ricerca" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="geoRif" maxOccurs="1" minOccurs="0" type="xsd:int"/>
      <xsd:element name="livello" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="comune" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="nazione" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="provincia" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="persone" minOccurs="0" maxOccurs="1" type="ArrayOfPersona"/>
      <!--one-to-many-->
      <xsd:element name="personeCittaNascita" minOccurs="0" maxOccurs="1" type="ArrayOfPersona"/>
      <!--one-to-many-->
      <xsd:element name="manyCap" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--one-to-many-->
      <xsd:element name="nomeAlternativi" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--one-to-many-->
      <xsd:element name="anagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="agenzie" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="aziende" minOccurs="0" maxOccurs="1" type="ArrayOfAzienda"/>
      <!--one-to-many-->
      <xsd:element name="immobili" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="CittaCap">
    <xsd:attribute name="citta" use="required" type="xsd:int"/>
    <xsd:attribute name="cap" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="CittaNomeAlternativo">
    <xsd:sequence>
      <!--many-to-one-->
      <xsd:element name="lingua" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="citta" use="required" type="xsd:int"/>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Cittadinanza">
    <xsd:sequence>
      <xsd:element name="nome" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="persone" minOccurs="0" maxOccurs="1" type="ArrayOfPersona"/>
    </xsd:sequence>
    <xsd:attribute name="codice" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Comune">
    <xsd:sequence>
      <xsd:element name="nome" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="codice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="geoRif" maxOccurs="1" minOccurs="0" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="nazione" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="provincia" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="citte" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Config">
    <xsd:sequence>
      <xsd:element name="valore" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="tipo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="ConfigAnagrafica">
    <xsd:sequence>
      <xsd:element name="valore" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="tipo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="anagrafica" use="required" type="xsd:int"/>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Files">
    <xsd:sequence>
      <xsd:element name="data" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="size" maxOccurs="1" minOccurs="1" type="xsd:long"/>
      <xsd:element name="mtime" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="ctime" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
    </xsd:sequence>
    <xsd:attribute name="path" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Immobile">
    <xsd:sequence>
      <xsd:element name="dataCreazione" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="dataAggiornamento" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="indirizzo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="numero" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="latitudine" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="longitudine" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="note" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="streetLatitudine" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="streetLongitudine" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="streetRotation" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="streetPitch" maxOccurs="1" minOccurs="0" type="xsd:double"/>
      <xsd:element name="streetZoom" maxOccurs="1" minOccurs="0" type="xsd:short"/>
      <xsd:element name="zona" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="codice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="agente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="citta" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="categoria" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="allegati" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="descrizioni" minOccurs="0" maxOccurs="1" type="ArrayOfImmobileDescrizione"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="ImmobileDescrizione">
    <xsd:sequence>
      <xsd:element name="testo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="immobile" use="required" type="xsd:int"/>
    <xsd:attribute name="lingua" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Lavoro">
    <xsd:sequence>
      <xsd:element name="tipo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="dati" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="dataCreazione" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="eseguiCome" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="eseguiComeDati" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="nome" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="livello" maxOccurs="1" minOccurs="1" type="xsd:int"/>
      <xsd:element name="lastrun" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <!--one-to-many-->
      <xsd:element name="manyLog" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="LavoroLog">
    <xsd:sequence>
      <xsd:element name="exitStatus" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="stdout" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="stderr" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ora" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <!--many-to-one-->
      <xsd:element name="lavoro" minOccurs="0" maxOccurs="1" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Lingua">
    <xsd:sequence>
      <xsd:element name="nome" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="default" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="locale" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="nomeOriginale" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="attiva" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <!--one-to-many-->
      <xsd:element name="cittaNomeAlternativi" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--one-to-many-->
      <xsd:element name="immobileDescrizioni" minOccurs="0" maxOccurs="1" type="ArrayOfImmobileDescrizione"/>
    </xsd:sequence>
    <xsd:attribute name="cod" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Log">
    <xsd:sequence>
      <xsd:element name="ora" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="operazione" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ip" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="dati" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="classe" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="tipo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="utente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Nazione">
    <xsd:sequence>
      <xsd:element name="nome" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="iso3" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="isonum" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="citte" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="comuni" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="provincie" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="codice" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Notifica">
    <xsd:sequence>
      <xsd:element name="ora" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="visto" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="titolo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="testo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="tipo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="data" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="nome" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="scadenza" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="livello" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <!--many-to-one-->
      <xsd:element name="utente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Persona">
    <xsd:sequence>
      <xsd:element name="nome" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="cognome" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="sesso" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="natoil" maxOccurs="1" minOccurs="0" type="xsd:date"/>
      <xsd:element name="cf" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="indirizzo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="numero" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="email" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="telefono" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="fax" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="cell" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="professione" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="cap" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="cittaNascita" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="statoCivile" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="cittadinanza" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="cittaResidenza" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="anagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="anagrafica" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Privilegio">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--many-to-many-->
      <xsd:element name="ruoli" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Provincia">
    <xsd:sequence>
      <xsd:element name="nome" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="sigla" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="codice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="nazione" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="citte" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="comuni" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Ruolo">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="assegnabile" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="livello" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="globale" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <!--one-to-many-->
      <xsd:element name="anagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfRuoloAnagrafica"/>
      <!--many-to-many-->
      <xsd:element name="privilegi" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="RuoloAnagrafica">
    <xsd:attribute name="anagrafica" use="required" type="xsd:int"/>
    <xsd:attribute name="ruolo" use="required" type="xsd:string"/>
    <xsd:attribute name="agenzia" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="SocioAzienda">
    <xsd:sequence>
      <xsd:element name="dettaglio" maxOccurs="1" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="azienda" use="required" type="xsd:int"/>
    <xsd:attribute name="anagrafica" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="StatoCivile">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="persone" minOccurs="0" maxOccurs="1" type="ArrayOfPersona"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="TipoComunicazione">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="valida" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="TipoDurata">
    <xsd:sequence>
      <xsd:element name="ordine" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="modificatore" maxOccurs="1" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="TipoPagamento">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="testo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="ordine" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="soloImportiAlti" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="soloImportiBassi" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="TipoUnitaMisura">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="simbolo" maxOccurs="1" minOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Utente">
    <xsd:sequence>
      <xsd:element name="password" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="scadenza" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="username" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="attivo" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <!--one-to-many-->
      <xsd:element name="anagraficheUtenteCensitore" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="anagrafiche" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="notifiche" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="manyLog" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="anagrafica" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAnagrafica">
    <xsd:sequence>
      <xsd:element name="Anagrafica" minOccurs="0" maxOccurs="unbounded" type="Anagrafica"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfImmobile">
    <xsd:sequence>
      <xsd:element name="Immobile" minOccurs="0" maxOccurs="unbounded" type="Immobile"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfRuoloAnagrafica">
    <xsd:sequence>
      <xsd:element name="RuoloAnagrafica" minOccurs="0" maxOccurs="unbounded" type="RuoloAnagrafica"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAllegatoVisibilitaDef">
    <xsd:sequence>
      <xsd:element name="AllegatoVisibilitaDef" minOccurs="0" maxOccurs="unbounded" type="AllegatoVisibilitaDef"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAllegato">
    <xsd:sequence>
      <xsd:element name="Allegato" minOccurs="0" maxOccurs="unbounded" type="Allegato"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfSocioAzienda">
    <xsd:sequence>
      <xsd:element name="SocioAzienda" minOccurs="0" maxOccurs="unbounded" type="SocioAzienda"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfConfigAnagrafica">
    <xsd:sequence>
      <xsd:element name="ConfigAnagrafica" minOccurs="0" maxOccurs="unbounded" type="ConfigAnagrafica"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCategoriaBundle">
    <xsd:sequence>
      <xsd:element name="CategoriaBundle" minOccurs="0" maxOccurs="unbounded" type="CategoriaBundle"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCategoria">
    <xsd:sequence>
      <xsd:element name="Categoria" minOccurs="0" maxOccurs="unbounded" type="Categoria"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPersona">
    <xsd:sequence>
      <xsd:element name="Persona" minOccurs="0" maxOccurs="unbounded" type="Persona"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCittaCap">
    <xsd:sequence>
      <xsd:element name="CittaCap" minOccurs="0" maxOccurs="unbounded" type="CittaCap"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCittaNomeAlternativo">
    <xsd:sequence>
      <xsd:element name="CittaNomeAlternativo" minOccurs="0" maxOccurs="unbounded" type="CittaNomeAlternativo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAgenzia">
    <xsd:sequence>
      <xsd:element name="Agenzia" minOccurs="0" maxOccurs="unbounded" type="Agenzia"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfAzienda">
    <xsd:sequence>
      <xsd:element name="Azienda" minOccurs="0" maxOccurs="unbounded" type="Azienda"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCitta">
    <xsd:sequence>
      <xsd:element name="Citta" minOccurs="0" maxOccurs="unbounded" type="Citta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfImmobileDescrizione">
    <xsd:sequence>
      <xsd:element name="ImmobileDescrizione" minOccurs="0" maxOccurs="unbounded" type="ImmobileDescrizione"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfLavoroLog">
    <xsd:sequence>
      <xsd:element name="LavoroLog" minOccurs="0" maxOccurs="unbounded" type="LavoroLog"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfComune">
    <xsd:sequence>
      <xsd:element name="Comune" minOccurs="0" maxOccurs="unbounded" type="Comune"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfProvincia">
    <xsd:sequence>
      <xsd:element name="Provincia" minOccurs="0" maxOccurs="unbounded" type="Provincia"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfRuolo">
    <xsd:sequence>
      <xsd:element name="Ruolo" minOccurs="0" maxOccurs="unbounded" type="Ruolo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPrivilegio">
    <xsd:sequence>
      <xsd:element name="Privilegio" minOccurs="0" maxOccurs="unbounded" type="Privilegio"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfNotifica">
    <xsd:sequence>
      <xsd:element name="Notifica" minOccurs="0" maxOccurs="unbounded" type="Notifica"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfLog">
    <xsd:sequence>
      <xsd:element name="Log" minOccurs="0" maxOccurs="unbounded" type="Log"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfInt">
    <xsd:sequence>
      <xsd:element name="int" type="xsd:integer" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfString">
    <xsd:sequence>
      <xsd:element name="string" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
