modagenzia.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:d="http://doctrine-project.org/schemas/orm/doctrine-mapping" xmlns:php="http://php.net/xsl" xmlns="http://www.goetas.com/immobinet/modagenzia" targetNamespace="http://www.goetas.com/immobinet/modagenzia" elementFormDefault="qualified" xmlns:ns0="http://www.goetas.com/immobinet" xmlns:ns1="http://www.goetas.com/immobinet/modagenzia">
  <xsd:complexType name="Articolo">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="prezzo" maxOccurs="1" minOccurs="1" type="xsd:int"/>
      <xsd:element name="quantita" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <!--one-to-many-->
      <xsd:element name="categorie" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="ArticoloCategoria">
    <xsd:sequence>
      <!--many-to-one-->
      <xsd:element name="articolo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="categoria" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Blocco">
    <xsd:sequence>
      <xsd:element name="immobileId" maxOccurs="1" minOccurs="1" type="xsd:int"/>
      <xsd:element name="dal" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <xsd:element name="al" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <xsd:element name="tipo" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <xsd:element name="minimoGiorni" maxOccurs="1" minOccurs="0" type="xsd:short"/>
      <xsd:element name="massimoGiorni" maxOccurs="1" minOccurs="0" type="xsd:short"/>
      <xsd:element name="attivo" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="note" maxOccurs="1" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Cassa">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="agenzia" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="movimenti" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="CassaMovimento">
    <xsd:sequence>
      <xsd:element name="importo" maxOccurs="1" minOccurs="1" type="xsd:int"/>
      <xsd:element name="data" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <xsd:element name="controllato" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="ora" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="note" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="codice" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="tipo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="prenotazione" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="agenzia" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="utente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="immobile" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="cassa" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Categoria">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="articoloCategorie" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Colore">
    <xsd:sequence>
      <xsd:element name="backgroundColor" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="backgroundPattern" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="borderColor" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="operatore" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="stato" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="ColoreAgenzia">
    <xsd:sequence>
      <xsd:element name="borderColor" maxOccurs="1" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="agenzia" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Festivita">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
    <xsd:attribute name="data" use="required" type="xsd:date"/>
  </xsd:complexType>
  <xsd:complexType name="Gruppo">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="prezzo" maxOccurs="1" minOccurs="0" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Immobile">
    <xsd:sequence>
      <xsd:element name="tipologia" maxOccurs="1" minOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="immobile" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="ImmobileListino">
    <xsd:sequence>
      <xsd:element name="prezzo" maxOccurs="1" minOccurs="1" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="immobile" use="required" type="xsd:int"/>
    <xsd:attribute name="listinoStagione" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="Listino">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="predefinito" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="caparra" maxOccurs="1" minOccurs="1" type="xsd:int"/>
      <xsd:element name="cauzione" maxOccurs="1" minOccurs="1" type="xsd:int"/>
      <xsd:element name="tipoCaparra" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="tipoCauzione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="tipo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="stagioni" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="ListinoPeriodo">
    <xsd:sequence>
      <xsd:element name="inizio" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <xsd:element name="fine" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <!--many-to-one-->
      <xsd:element name="listinoStagione" minOccurs="0" maxOccurs="1" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="ListinoStagione">
    <xsd:sequence>
      <xsd:element name="anno" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="stagione" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <!--many-to-one-->
      <xsd:element name="listino" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="listinoPeriodi" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="immobileListini" minOccurs="0" maxOccurs="1" type="ArrayOfImmobileListino"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="MovimentoConsigliatoStatoPrenotazione">
    <xsd:sequence>
      <xsd:element name="richiesto" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
    </xsd:sequence>
    <xsd:attribute name="stato" use="required" type="xsd:string"/>
    <xsd:attribute name="tipoMovimento" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Prenotazione">
    <xsd:sequence>
      <xsd:element name="arrivo" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <xsd:element name="partenza" maxOccurs="1" minOccurs="1" type="xsd:date"/>
      <xsd:element name="ora" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="codiceInterno" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="scadenza" maxOccurs="1" minOccurs="0" type="xsd:date"/>
      <xsd:element name="cauzione" maxOccurs="1" minOccurs="0" type="xsd:int"/>
      <xsd:element name="prezzo" maxOccurs="1" minOccurs="0" type="xsd:int"/>
      <xsd:element name="provenienza" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="pulizie" maxOccurs="1" minOccurs="0" type="xsd:int"/>
      <xsd:element name="caparra" maxOccurs="1" minOccurs="0" type="xsd:int"/>
      <xsd:element name="note" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="chiaviReseDettagli" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="firmato" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="saldato" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="ultimaModifica" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <xsd:element name="codiceEsterno" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="chiaviConsegnateDettagli" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="adulti" maxOccurs="1" minOccurs="0" type="xsd:short"/>
      <xsd:element name="ragazzi" maxOccurs="1" minOccurs="0" type="xsd:short"/>
      <xsd:element name="bambini" maxOccurs="1" minOccurs="0" type="xsd:short"/>
      <xsd:element name="persone" maxOccurs="1" minOccurs="0" type="xsd:short"/>
      <xsd:element name="chiaviConsegnate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="chiaviRese" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="scaduta" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="spostabile" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <!--many-to-one-->
      <xsd:element name="anagrafica" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="operatore" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="stato" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <!--many-to-one-->
      <xsd:element name="ultimaModificaUtente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="agenzia" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="immobile" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--many-to-one-->
      <xsd:element name="utente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
      <!--one-to-many-->
      <xsd:element name="cassaMovimenti" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--one-to-many-->
      <xsd:element name="componenti" minOccurs="0" maxOccurs="1" type="ArrayOfPrenotazioneComponente"/>
      <!--one-to-many-->
      <xsd:element name="statoStorie" minOccurs="0" maxOccurs="1" type="ArrayOfPrenotazioneStatoStoria"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="PrenotazioneComponente">
    <xsd:sequence>
      <xsd:element name="prezzo" maxOccurs="1" minOccurs="1" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="prenotazione" use="required" type="xsd:string"/>
    <xsd:attribute name="componente" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="PrenotazioneStatoStoria">
    <xsd:sequence>
      <xsd:element name="ora" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
      <!--many-to-one-->
      <xsd:element name="utente" minOccurs="0" maxOccurs="1" type="xsd:int"/>
    </xsd:sequence>
    <xsd:attribute name="prenotazione" use="required" type="xsd:string"/>
    <xsd:attribute name="stato" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="StatoPrenotazione">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="occupante" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="ordine" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="conScadenza" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="eliminata" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <!--one-to-many-->
      <xsd:element name="prenotazioneStatoStorie" minOccurs="0" maxOccurs="1" type="ArrayOfPrenotazioneStatoStoria"/>
      <!--one-to-many-->
      <xsd:element name="movimentoConsigliatoStatoPrenotazioni" minOccurs="0" maxOccurs="1" type="ArrayOfMovimentoConsigliatoStatoPrenotazione"/>
      <!--one-to-many-->
      <xsd:element name="colori" minOccurs="0" maxOccurs="1" type="ArrayOfInt"/>
      <!--one-to-many-->
      <xsd:element name="prenotazioni" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--many-to-many-->
      <xsd:element name="destinazioni" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
      <!--many-to-many-->
      <xsd:element name="partenze" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Tabellone">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="TipoComponentePrenotazione">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="ordine" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="livello" maxOccurs="1" minOccurs="1" type="xsd:short"/>
      <xsd:element name="entrata" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <xsd:element name="divisibile" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <!--one-to-many-->
      <xsd:element name="prenotazioneComponenti" minOccurs="0" maxOccurs="1" type="ArrayOfPrenotazioneComponente"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="TipoListino">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <!--one-to-many-->
      <xsd:element name="listini" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="TipoMovimento">
    <xsd:sequence>
      <xsd:element name="descrizione" maxOccurs="1" minOccurs="1" type="xsd:string"/>
      <xsd:element name="entrata" maxOccurs="1" minOccurs="1" type="xsd:boolean"/>
      <!--one-to-many-->
      <xsd:element name="movimentoConsigliatoStatoPrenotazioni" minOccurs="0" maxOccurs="1" type="ArrayOfMovimentoConsigliatoStatoPrenotazione"/>
      <!--one-to-many-->
      <xsd:element name="cassaMovimenti" minOccurs="0" maxOccurs="1" type="ArrayOfString"/>
    </xsd:sequence>
    <xsd:attribute name="nome" use="required" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfArticoloCategoria">
    <xsd:sequence>
      <xsd:element name="ArticoloCategoria" minOccurs="0" maxOccurs="unbounded" type="ArticoloCategoria"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfCassaMovimento">
    <xsd:sequence>
      <xsd:element name="CassaMovimento" minOccurs="0" maxOccurs="unbounded" type="CassaMovimento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfListinoStagione">
    <xsd:sequence>
      <xsd:element name="ListinoStagione" minOccurs="0" maxOccurs="unbounded" type="ListinoStagione"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfListinoPeriodo">
    <xsd:sequence>
      <xsd:element name="ListinoPeriodo" minOccurs="0" maxOccurs="unbounded" type="ListinoPeriodo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfImmobileListino">
    <xsd:sequence>
      <xsd:element name="ImmobileListino" minOccurs="0" maxOccurs="unbounded" type="ImmobileListino"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPrenotazioneComponente">
    <xsd:sequence>
      <xsd:element name="PrenotazioneComponente" minOccurs="0" maxOccurs="unbounded" type="PrenotazioneComponente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPrenotazioneStatoStoria">
    <xsd:sequence>
      <xsd:element name="PrenotazioneStatoStoria" minOccurs="0" maxOccurs="unbounded" type="PrenotazioneStatoStoria"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfMovimentoConsigliatoStatoPrenotazione">
    <xsd:sequence>
      <xsd:element name="MovimentoConsigliatoStatoPrenotazione" minOccurs="0" maxOccurs="unbounded" type="MovimentoConsigliatoStatoPrenotazione"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfColore">
    <xsd:sequence>
      <xsd:element name="Colore" minOccurs="0" maxOccurs="unbounded" type="Colore"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfPrenotazione">
    <xsd:sequence>
      <xsd:element name="Prenotazione" minOccurs="0" maxOccurs="unbounded" type="Prenotazione"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfStatoPrenotazione">
    <xsd:sequence>
      <xsd:element name="StatoPrenotazione" minOccurs="0" maxOccurs="unbounded" type="StatoPrenotazione"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfListino">
    <xsd:sequence>
      <xsd:element name="Listino" minOccurs="0" maxOccurs="unbounded" type="Listino"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfInt">
    <xsd:sequence>
      <xsd:element name="int" type="xsd:integer" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfString">
    <xsd:sequence>
      <xsd:element name="string" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
